body {
    background-color: white;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-links {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;
}

.logo {
    font-size: 30px;
    font-family: 'Roboto', arial;
    font-weight: 700;
    color: #E5E7EB;
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}

.header-links a:hover {
    color: #9CA3AF;
}

.hero {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    padding: 90px;
}

.hero-text {
    font-size: 48px;
    font-family: 'Roboto', arial;
    font-weight: extra-bold;
    color: #E5E7EB;
}

.hero-text span {
    color: #6EE7B7;
}

.hero-text p {
    font-size: 20px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    color: #E5E7EB;
}

.hero-text p span {
    color: #6EE7B7;
}

.hero-text p span:hover {
    color: #9CA3AF;
}

.hero-text p a {
    text-decoration: none;
    color: #6EE7B7;
    font-size: 20px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    padding: 10px;
}

.hero-text p a:hover {
    color: #9CA3AF;
}

.hero-text button {
    background-color: #6EE7B7;
    color: #1F2937;
    font-size: 20px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    padding: 20px 20px;
    margin-left: 250px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.hero-text button:hover {
    background-color: #9CA3AF;
}

.hero-image {
    border-color: white;
    border-style: solid;
    border-width: 0.5px;
}

.hero-image img {
    width: 100%;
    height: 400px;
}

.box-content {
    text-align: center;
}

.box-info {
    display: flex;
    justify-content: space-around;
}

.box-content img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #1F2937;
    border-radius: 15px;

}

.quote {
    background-color: #E5E7EB;
    padding: 90px;
}

.quote p {
    font-size: 36px;
    font-family: 'light italic';
    color: #1F2937;
    text-align: center;
}

.quote b {
    text-align: right;
}

.box-signup {
    display: flex;
    background-color: #3882F6;
    padding: 20px 40px;
    margin: 100px 150px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-between;
}

.box-signup p {
    font-size: 24px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    color: #E5E7EB;
}

.box-signup button {
    background-color: #6EE7B7;
    color: #1F2937;
    font-size: 20px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    padding: 20px 20px;
    border: none;
    border-radius: 5px;
}

.box-signup button:hover {
    background-color: #9CA3AF;
}

.box-signup h2 {
    font-size: 24px;
    font-family: 'Roboto', arial;
    font-weight: 400;
    color: #E5E7EB;
}

.box-footer {
    display: flex;
    background-color: #1F2937;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.box-footer p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
}
